@model IEnumerable<CrowdSourceDiscovery.Web.Models.ConnectionListModel>

@{
    ViewBag.Title = "Connections";
}
<br/>

@Html.Partial("~/Views/Shared/_SearchWidget.cshtml")
<br />
<br />
<h3>Hot discoveries</h3>
@Html.Partial("_ConnectionList", Model)
