@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron bg">
    <h1 class="well">Explore, Connect, Discover</h1>
    <p class="lead well">Empowering the community to see complex connections in science, by crowd sourcing the process of discovery.</p>

    <br /><br />
    <div class="row">
        <div class="col-md-6 text-center"><p><a href="@Url.Action("Index", "Connection")" class="btn btn-primary btn-xlg ">Discover</a></p></div>
        <div class="col-md-6 text-center"><p><a href="@Url.Action("Create", "Connection")" class="btn btn-success btn-xlg">Connect</a></p></div>
    </div>
</div>